body {
  background-color: aliceblue;
}

form,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input,
h1 {
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

form button {
  cursor: pointer;
  margin-bottom: 2rem;
}

.card_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 1rem;
  min-width: clamp(10rem, 80%, 15rem);
  min-height: 15rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  background-color: #f9ed8e;
}

.container-hp-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon-name,
.description {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
